.bak
.log
.swp
# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# tomado de hgitignore
app_settings_private.py
databases/*
sessions/*
errors/*
cache/*
private/*
uploads/*
static/slideshow/*
static/docs/*
